body{
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
    color:white;
}


.hero{
    justify-content: center;
    display:flex;
    padding-left:42px;
    height: 500px; 
    background-color:#1F2937;
}



.upper{
    flex-wrap: wrap;
    width: 500px;
}

.upper a p{
    font-size: 18px;
    color:#E5E7EB;
} 

.upper h1{
    font-size:48px;
}

.upper h2{
    font-size:24px;
    color:#F9FAF8;
}

.links{
    padding-right:42px;
}

.rand{
    padding:42px;
    display:flex;
    height: 250px; 
    color:black;
    justify-content: center;
}

ul{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.space{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:50px;

}

.rand p{
    margin:1px;
}

.small-box{
    height: 105px;
    width: 105px;
    border:1px solid black;
    border-radius: 5px;
    border-color: #3882F6;
    border-width: 2px;
}

.subtxt{
display:flex;
justify-content:space-between;
align-items:flex-start;
align-self: center;
}


.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; 
    font-weight: 300;
    font-size: 36px;
    font-style:italic;
    color:#1F2937;
    background-color:#E5E7EB;
}

.quote-text{
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    width:500px;
}
h6{
    display: flex;
    align-self: flex-end;
}

.action{
    color:white;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.blue-box-text{
    display: flex;
    justify-content:space-around;
    height:80px;
    width: 800px;
    border:1px solid #3882F6;
    border-radius: 5px;
   background-color:#3882F6;
}


footer{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#1F2937;
    height: 60px;
    font-size: 18px;
    color:#E5E7EB;
}

h1{
    word-wrap: break-word;      
    margin:0;
}

p{
    word-wrap: break-word; 
}

img{
    padding-left: 100px;
    padding-top: 21px;
    height: 160px;
    width:375px;
}

button{
    color:white;
    background-color:#3882F6;
    border-style: hidden;
    display: block;
    align-self: center;
    height: 25px;
    width:100px;
    border-radius: 5px;
}


.action button {
    color:white;
    background-color:#3882F6;
    border-style: groove;
    border-color: white;
}

.action p{
    font-size: 10px;
}

.quote h6{
    padding: top 100px;
    padding-right: 100px;
}

ol{
    display: flex;
    justify-content: flex-end;
    gap:16px;
}