body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    
}

.upper{
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    height: 40vh;
    color:white;
}

h2{
    padding-left:42px;
}

ol{
    /* display: flex;
    justify-content: space-around;
    align-items:flex-start; */
     display:flex;
    margin-left: 500px;
     justify-content: space-around;
     gap:16px;
}

.image{
    padding-left:42px;
   margin-bottom: 10px;;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    
}

img{
    height: 100px;

.rand{
    height: 30vh;
}

.quote{
    height: 30vh;
}

.action{
    height: 30vh;
}