body{
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
    color:white;
}

.hero{
    justify-content: center;
    display:flex;
    padding-left:42px;
    height: 380px; 
    background-color:#1F2937;
}

.upper{
    flex-wrap: wrap;
    width: 500px;
}

.links{
    padding-right:42px;
}

.rand{
    padding:42px;
    display:flex;
    height: 250px; 
    color:black;
    justify-content: center;
}

ul{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.space{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:50px;

}
.small-box{
    height: 105px;
    width: 105px;
    border:1px solid black;
    border-radius: 5px;
    border-color: #3882F6;
}

.subtxt{
display:flex;
justify-content:space-between;
align-items:flex-start;
align-self: center;
}


.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; 
    font-weight: 300;
    font-size: 36px;
    font-style:italic;
    color:#1F2937;
    background-color:#E5E7EB;
}

.quote-text{
    display: flex;
    width:500px;
   
}
h6{
    display: flex;
    align-self: flex-end;
}

.action{
    color:white;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.blue-box-text{
    display: flex;
    justify-content:space-around;
    height:80px;
    width: 800px;
    border: 1px solid #3882F6;
    border-radius: 5px;
   background-color:#3882F6;
}


footer{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#1F2937;
    height: 60px;
}

h1{
    word-wrap: break-word;      
    margin:0;
}

p{
    word-wrap: break-word; 
}

img{
    padding-left: 100px;
    padding-top: 21px;
    height: 150px;
    width:300px;
}

ol{
    display: flex;
    justify-content: flex-end;
    gap:16px;
}